body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #bd1414;
    border-bottom: 2px solid #000000;
}
h2{color: #dab614;
    border-bottom: 2px solid #000000;}